
 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinnochio’s Pizza & Subs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
</head>

<body>

<section class="hero is-fullheight">

  <div class="hero-body">
      <div class="container has-text-centered">

<div class="column is-4 is-offset-4">
  <h3 style="color:white" class="title">Your delivery address</h3>
<div class="box">
  <form action="{% url 'place_order' %}" method="post">
        {% csrf_token %}
        <!--  <div class="form-group"> -->
            <div class="field">
                <div class="control">
                  <input class="input is-large" name="City" id="city_name" placeholder="City">
              <!--    <label for="city_name">City</label><br> -->
                </div>
            </div>

            <div class="field">
                <div class="control">
              <input class="input is-large" name="District" id="district" placeholder="District">
            <!--  <label for="district">District</label><br> -->
            </div>
        </div>

        <div class="field">
            <div class="control">
              <input class="input is-large" name="StreetNumber" id="StreetNumber" placeholder="Street Number">
            <!--  <label for="StreetNumber">Street Number</label><br> -->
          </div>
        </div>

        <div class="field">
            <div class="control">
              <input class="input is-large" name="BuildingNumber" id="BuildingNumber" placeholder="Building Number">
            <!--  <label for="BuildingNumber">Building Number</label><br> -->
          </div>
        </div>

        <!--  <div class="form-group">
              <button class="btn btn-primary">Submit</button>
          </div> -->
          <button class="button is-block is-info is-large is-fullwidth">Submit</button>

      </form>
    </div>
  </div>
</div>
</div>
</section>
</body>
</html>
