<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menu = {{ serialized_menu | safe }};
            //console.log(menu);
            var add_buttons = document.querySelectorAll('.add');
            for(var i = 0; i < add_buttons.length; i++)
            {
                  add_buttons[i].onclick = function()
                  {
                     var button_id = this.id;
                     var id = button_id.split("_")[1];
                     const name = document.querySelector('#itemName_'+id).innerHTML;
                     const small_price = document.querySelector('#small_price_'+id).value;
                     const large_price = document.querySelector('#large_price_'+id).value;
                     console.log(name);
                     console.log(small_price);
                     console.log(large_price);

                  }
            }
              /*for(var key in menu)
              {
                var category_items = JSON.parse(menu[key]);
                //console.log(category_items);
                for(var item in category_items)
                {
                   console.log('#add_'+category_items[item]["pk"])
                   document.querySelector('#add_'+category_items[item]["pk"]).onclick = function() {
                     const name = document.querySelector('#itemName_'+category_items[item]["pk"]).value;
                     const small_price = document.querySelector('#small_price_'+category_items[item]["pk"]).value;
                     const large_price = document.querySelector('#large_price_'+category_items[item]["pk"]).value;
                     //const name = document.querySelector('#itemName').value;
                   //  const name = document.querySelector('#itemName').value;
                     console.log(name);
                     console.log(small_price);
                     console.log(large_price);
                   };
                }
              }*/
          });
  </script>
</head>
<body>



<h1>Hello, {{ user.first_name }}</h1>
<ul>
    {% for category, items in menu.items %}
      <h3> {{ category }} </h3>
      <ul>
          {% for item in items %}
              <li><a href="" data-toggle="modal" data-target="#{{ item.id }}">{{ item.name }}</a></li>
              <!-- Modal -->
                <div class="modal fade" id="{{ item.id }}" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                <!--    <form id="form"> -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                      </div>
                      <div class="modal-body">
                        <p id="itemName_{{ item.id }}">{{ item.name }}</p>
                        {% if item.small_price %}
                          <input type="radio" id="small_price_{{ item.id }}" name="small_price" value="{{ item.small_price}}">
                          <label for="small_price">Small ({{ item.small_price}})</label><br>
                        {% endif %}
                        {% if item.large_price %}
                          <input type="radio" id="large_price_{{ item.id }}" name="large_price" value="{{ item.large_price}}">
                          <label for="large_price">Large ({{ item.large_price}})</label><br>
                        {% endif %}
                      </div>
                      {% if item.number_of_topping %}
                      <p>Toppings</p>
                      {% for topping in toppings %}
                      <input type="checkbox" id="Topping{{topping.id}}_{{ item.id }}" name="{{ topping.name }}" value="{{ topping.name }}">
                      <label for="Topping{{topping.id}}">{{ topping.name }}</label><br>
                      {% endfor %}
                      {% endif %}

                      {% if item.number_of_extra_items %}
                      <p>Add extra items to your sub</p>
                      {% for extra_item in extra_items %}
                      <input type="checkbox" id="Extra{{extra_item.id}}_{{ item.id }}" name="{{ extra_item.name }}" value="{{ extra_item.name }}">
                      <label for="Extra{{extra_item.id}}">{{ extra_item.name }}</label><br>
                      {% endfor %}
                      {% endif %}
                      <div class="modal-footer">
                        <button id="add_{{ item.id }}" type="button submit" class="btn btn-default add" data-dismiss="modal">Add to cart</button>
                      <!--  <input class="button btn btn-default is-block is-info is-large is-fullwidth" type="submit" data-dismiss="modal" value="Add to cart"> -->
                      </div>
                    </div>
              <!--    </form> -->
                  </div>
                </div>
          {% endfor %}
      </ul>
    {% endfor %}
</ul>

<div id="shopping_cart">
<h3>Your shopping cart</h3>
<ul id="shopping_list"></ul>
</div>

<a href="{% url 'logout' %}">Logout</a>
</body>
</html>
