{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pinnochio’s Pizza & Subs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
  <style>
    body { padding-top: 70px; }
  </style>
  <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menu = {{ serialized_menu | safe }};
            var total_price=0;
            // retrive shopping cart items when the user refresh the page
            $.ajax({
                 dataType: 'json',
                 url: "{% url 'get_shopping_cart_items' %}",
                 success: function (response) {
                      //const li = document.createElement('li');
                      //li.innerHTML = name + " " + item_data['size'] + "(" + item_data['price'] + ")";
                      //document.querySelector('#shopping_list').append(li);
                      console.log(JSON.parse(response));
                      shopping_cart_items = JSON.parse(response);

                      for(var i = 0; i < shopping_cart_items.length; i++)
                      {
                        const li = document.createElement('li');
                        li.innerHTML = shopping_cart_items[i]["name"] + " " +
                         shopping_cart_items[i]['size'] + "(" + shopping_cart_items[i]['price'] + ")";
                        li.setAttribute("class", "list-group-item");
                        document.querySelector('#shopping_list').append(li);
                        total_price += shopping_cart_items[i]['price'];

                        if(shopping_cart_items[i]['toppings'].length)
                        {
                          li.innerHTML += " Toppings: "
                          for(var j = 0; j < shopping_cart_items[i]['toppings'].length - 1; j++)
                          {
                            li.innerHTML += shopping_cart_items[i]['toppings'][j] + ', ';
                          }
                          li.innerHTML += shopping_cart_items[i]['toppings'][shopping_cart_items[i]['toppings'].length - 1];
                        }
                        if(shopping_cart_items[i]['extra'].length)
                        {
                          li.innerHTML += " Extra: "
                          for(var j = 0; j < shopping_cart_items[i]['extra'].length - 1; j++)
                          {
                            li.innerHTML += shopping_cart_items[i]['extra'][j] + ', ';
                          }
                          li.innerHTML += shopping_cart_items[i]['extra'][shopping_cart_items[i]['extra'].length - 1];
                        }
                      }

                      if(shopping_cart_items.length)
                      {
                        // adding total price info
                        var price = document.createElement("H5");
                        var t = document.createTextNode("Total price = " + total_price +"$");
                        price.appendChild(t);
                        price.setAttribute("id", "price_info");
                        document.getElementById("shopping_cart").appendChild(price);

                        // adding proceed_button
                        var btn = document.createElement("BUTTON");
                        btn.innerHTML = "Proceed";
                        btn.setAttribute("id", "proceed_button");
                        btn.setAttribute("class", "btn btn-primary");
                        btn.onclick = function() {
                          window.location.href = "{% url 'place_order' %}";
                        }
                        document.getElementById("shopping_cart").appendChild(btn);
                      }
                 },
                 error: function (response) {
                     // alert the error if any error occured
                     console.log("error");
                 }
               });

            var add_buttons = document.querySelectorAll('.add');
            for(var i = 0; i < add_buttons.length; i++)
            {
                  add_buttons[i].onclick = function()
                  {
                     var button_id = this.id;
                     var id = button_id.split("_")[1];
                     const name = document.querySelector('#itemName_'+id).innerHTML;
                     console.log(name);
                     var no_size_is_selected = true;
                     var item_data = {'item_id': null, 'size': null, 'quantity': null, 'price': null, 'toppings': [], 'extra': []};;
                     if(document.querySelector('#small_price_'+id) && document.querySelector('#small_price_'+id).checked)
                     {
                        const small_price = document.querySelector('#small_price_'+id).value;
                        console.log(small_price);
                        //const li = document.createElement('li');
                        //li.innerHTML = name + " Samll(" + small_price + ")";
                        //document.querySelector('#shopping_list').append(li);
                        item_data = {'item_id': id, 'size': "Small", 'quantity': 1, 'price': small_price, 'toppings': [], 'extra': []};
                        document.querySelector('#small_price_'+id).checked = 0;
                        no_size_is_selected = false;
                     }
                     else if(document.querySelector('#large_price_'+id) && document.querySelector('#large_price_'+id).checked)
                     {
                       const large_price = document.querySelector('#large_price_'+id).value;
                       console.log(large_price);
                       //const li = document.createElement('li');
                       //li.innerHTML = name + " Large(" + large_price + ")";
                       //document.querySelector('#shopping_list').append(li);
                       item_data = {'item_id': id, 'size': "Large", 'quantity': 1, 'price': large_price, 'toppings': [], 'extra': []};
                       document.querySelector('#large_price_'+id).checked = 0;
                       no_size_is_selected = false;
                     }
                     // check for topping and extra items
                     var toppings = document.querySelectorAll('.Topping_'+id);
                     for(var i = 0; i < toppings.length; i++)
                     {
                       if(toppings[i] && toppings[i].checked)
                       {
                         //console.log(toppings[i].value);
                         item_data["toppings"].push(toppings[i].value);
                         toppings[i].checked = 0;
                       }
                     }

                     var extra = document.querySelectorAll('.Extra_'+id);
                     for(var i = 0; i < extra.length; i++)
                     {
                       if(extra[i] && extra[i].checked)
                       {
                         //console.log(extra[i].value);
                         item_data['extra'].push(extra[i].value)
                         extra[i].checked = 0;
                       }
                     }
                     if(no_size_is_selected) {
                       alert('Please select the size of your item');
                       return false;
                     }
                     console.log(item_data);
                     $.ajaxSetup({
                            headers: { "X-CSRFToken": '{{csrf_token}}' }
                      });
                     $.ajax({
                          type: 'POST',
                          dataType: 'json',
                          contentType: 'application/json; charset=utf-8',
                          url: "{% url 'add_to_shopping_cart' %}",
                          data: JSON.stringify(item_data),
                          success: function (response) {
                               const li = document.createElement('li');
                               li.innerHTML = name + " " + item_data['size'] + "(" + item_data['price'] + ")";
                               if(item_data['toppings'].length)
                               {
                                 li.innerHTML += " Toppings: "
                                 for(var i = 0; i < item_data['toppings'].length - 1; i++)
                                 {
                                   li.innerHTML += item_data['toppings'][i] + ', ';
                                 }
                                 li.innerHTML += item_data['toppings'][item_data['toppings'].length - 1];
                               }
                               if(item_data['extra'].length)
                               {
                                 li.innerHTML += " Extra: "
                                 for(var i = 0; i < item_data['extra'].length - 1; i++)
                                 {
                                   li.innerHTML += item_data['extra'][i] + ', ';
                                 }
                                 li.innerHTML += item_data['extra'][item_data['extra'].length - 1];
                               }
                               li.setAttribute("class", "list-group-item");
                               document.querySelector('#shopping_list').append(li);

                               total_price+=parseFloat(item_data['price']);

                               if(!document.querySelector('#proceed_button')) {
                                   // adding total price info
                                   var price = document.createElement("H5");
                                   var t = document.createTextNode("Total price = " + total_price +"$");
                                   price.appendChild(t);
                                   price.setAttribute("id", "price_info");
                                   document.getElementById("shopping_cart").appendChild(price);

                                   var btn = document.createElement("BUTTON");
                                   btn.innerHTML = "Proceed";
                                   btn.setAttribute("id", "proceed_button");
                                   btn.setAttribute("class", "btn btn-primary");
                                   btn.onclick = function() {
                                     window.location.href = "{% url 'place_order' %}";
                                   }
                                   document.getElementById("shopping_cart").appendChild(btn);
                               }
                               else {
                                 var price = document.getElementById("price_info");
                                 price.innerHTML = "Total price = " + total_price +"$";
                               }
                          },
                          error: function (response) {
                              // alert the error if any error occured
                              console.log("error");
                          }
                        });
                  }
            }
              /*for(var key in menu)
              {
                var category_items = JSON.parse(menu[key]);
                //console.log(category_items);
                for(var item in category_items)
                {
                   console.log('#add_'+category_items[item]["pk"])
                   document.querySelector('#add_'+category_items[item]["pk"]).onclick = function() {
                     const name = document.querySelector('#itemName_'+category_items[item]["pk"]).value;
                     const small_price = document.querySelector('#small_price_'+category_items[item]["pk"]).value;
                     const large_price = document.querySelector('#large_price_'+category_items[item]["pk"]).value;
                     //const name = document.querySelector('#itemName').value;
                   //  const name = document.querySelector('#itemName').value;
                     console.log(name);
                     console.log(small_price);
                     console.log(large_price);
                   };
                }
              }*/
          });
  </script>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">{{ user.username }}</a> -->
      <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{ user.username }}</a></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <h1>Hello, {{ user.first_name }}</h1> -->
<div class="container">
  <div class="row">
    <div class="col-md-8">

        <ul class="list-group">
            {% for category, items in menu.items %}
              <div class="panel panel-default panel-transparent">
                <div class="panel-heading">
              <h3 style="color:white" class="panel-title"> {{ category }} </h3>
            </div>
              <div class="panel-body">
              <ul>
                  {% for item in items %}
                      <li class="item-link panel-transparent"><a class="" href="" data-toggle="modal" data-target="#{{ item.id }}">{{ item.name }}</a></li>
                      <!-- Modal -->
                        <div class="modal fade" id="{{ item.id }}" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                        <form id="form">
                          {% csrf_token %}
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ item.name }}</h4>
                              </div>
                              <div class="modal-body">
                                <p id="itemName_{{ item.id }}">{{ item.name }}</p>
                                {% if item.small_price %}
                                  <input type="radio" id="small_price_{{ item.id }}" name="small_price" value="{{ item.small_price}}" required>
                                  <label for="small_price">Small ({{ item.small_price}})</label><br>
                                {% endif %}
                                {% if item.large_price %}
                                  <input type="radio" id="large_price_{{ item.id }}" name="large_price" value="{{ item.large_price}}" required>
                                  <label for="large_price">Large ({{ item.large_price}})</label><br>
                                {% endif %}
                                <script>
                                      $(document).ready(function() {

                                        var radioSelected = [];
                                        var numberOfSelected = null;

                                        $('input[type=radio]').change(function() {
                                          numberOfSelected = $('input[type=radio]:checked').length;
                                          var name = $(this)[0].name;
                                          if (radioSelected.indexOf(name) == -1) {
                                            radioSelected.push($(this)[0].name);
                                          }

                                          if(radioSelected.length > 1) {
                                            var removed = radioSelected.shift();
                                            $('input[name=' + removed + ']').prop('checked', false);
                                          }
                                        });

                                    });
                                </script>
                              </div>
                              {% if item.number_of_topping %}
                              <p>Toppings (please select up to {{item.number_of_topping}} toppings)</p>
                              {% for topping in toppings %}
                              <input type="checkbox" id="Topping{{topping.id}}_{{ item.id }}" class="Topping_{{item.id}}" name="{{ topping.name }}" value="{{ topping.name }}">
                              <label for="Topping{{topping.id}}">{{ topping.name }}</label><br>
                             <script>
                                  $(document).ready(function () {
                                      $("input[class=Topping_{{item.id}}]").change(function () {
                                            var maxAllowed = {{ item.number_of_topping }};
                                            var cnt = $("input[class=Topping_{{item.id}}]:checked").length;
                                            if (cnt > maxAllowed) {
                                                $(this).prop("checked", "");
                                                alert('You can not select more than ' + maxAllowed + ' toppings!');
                                            }
                                        });
                                  });
                              </script>
                              {% endfor %}
                              {% endif %}

                              {% if item.number_of_extra_items %}
                              <p>Add extra items to your sub</p>
                              {% for extra_item in extra_items %}
                              <input type="checkbox" id="Extra{{extra_item.id}}_{{ item.id }}" class="Extra_{{item.id}}" name="{{ extra_item.name }}" value="{{ extra_item.name }}">
                              <label for="Extra{{extra_item.id}}">{{ extra_item.name }}</label><br>
                              {% endfor %}
                              {% endif %}
                              <div class="modal-footer">
                                <button id="add_{{ item.id }}" type="button submit" class="btn btn-default add" data-dismiss="modal">Add to cart</button>
                              <!--  <input class="button btn btn-default is-block is-info is-large is-fullwidth" type="submit" data-dismiss="modal" value="Add to cart"> -->
                              </div>
                            </div>
                          </form>
                          </div>
                        </div>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            {% endfor %}
        </ul>
      </div>

    <div class="col-md-4">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Your shopping cart</h3>
          </div>
          <div id="shopping_cart" class="panel-body">
            <ul id="shopping_list" class="list-group"></ul>
          </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
